@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
  color: white;
  list-style: none;
  text-decoration: none;
  user-select: none;
  overflow-x: hidden;
}
body {
  width: 100vw;
  height: 100vh;
  background: #142d4c;
  padding-left: 15%;
  padding-right: 15%;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.header-first {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.header-first h1 {
  font-size: 1.8rem;
  font-weight: 500;
}
.header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.header ul li a {
  cursor: pointer;
}
.header button {
  width: 120px;
  height: 40px;
  background: transparent;
  border: 1px solid rgb(175, 175, 175);
  border-radius: 10px;
  cursor: pointer;
}
.hero {
  margin-top: 7rem;
  display: flex;
 
  gap: 2rem;
}
.hero .hero-left {
  width: 50%;
}
.hero .hero-left h3 {
  font-weight: 400;
  font-size: 1rem;
  color: orange;
  margin-bottom: 1rem;
}
.hero .hero-left h1 {
  font-weight: bold;
  font-size: 4rem;
  color: white;
}
.hero .hero-left p {
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 90%;
  font-weight: 200;
  font-size: 1rem;
}
.hero .hero-left .hero-btns {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.hero .hero-left .hero-btns button {
  width: 150px;
  height: 50px;
  border-radius: 1rem;
  border: none;
  background: transparent;
  font-weight: 400;
  font-size: 1rem;
  cursor: pointer;
}
.hero .hero-left .hero-btns .hero-first-btn {
  border: none;
  background-color: rgb(248, 66, 0);
  font-weight: 600;
}
.hero .hero-img {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero .hero-img img {
  height: 100%;
  width: 100%;
}
